@using System.Security.Claims
@model project_client.Areas.Admin.Models.IndexViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    var userIdDepartamento = int.Parse(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value ?? "0");
    var role = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Inicio - Sistema Gestor de Actividades</title>
</head>

<body>

    <header class="header">
        <div class="search">
            <form action="/buscar" method="post" class="search-form">
                <!--Hacer esto con JS -->
                <input type="search" placeholder="Buscar..." name="search" id="search" class="search-input">
                <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24px">
                    <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
                </svg>
            </form>
        </div>
        <div class="header-profile">
            <span class="header-profile-name">
                @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value
                <span class="small-text">
                    @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value
                </span>
            </span>
            <svg class="header-profile-expand" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24px">
                <path d="M480-360 280-560h400L480-360Z" />
            </svg>
            <div class="profile-menu">
                <a href="/admin/">Inicio</a>
                <a href="/admin/home/borradores">Borradores</a>
                <a href="/admin/departamentos">Departamentos</a>
                <a href="/cerrar-sesion">Cerrar sesión</a>
            </div>
        </div>
    </header>

    <main class="main">

        <div class="buttons">

            <div class="capturar" id="btnCapturar">
                <a href="~/admin/home/agregar" class="capturar-text">Capturar</a>
            </div>

            <div class="filtros" id="aside-open" onclick="showFilters()">
                <span class="capturar-text">Filtros</span>
            </div>

        </div>

        <svg onclick="GoTopPage()" class="up-button" id="up-button" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960">
            <path d="M440-160v-487L216-423l-56-57 320-320 320 320-56 57-224-224v487h-80Z" />
        </svg>

        <div class="actividades">
            <p class="actividades-title">Hoy</p>
            <div class="actividades-box">
                <div id="userIdDepartamento" hidden data-user-id="@userIdDepartamento"></div>
                <div id="role" hidden data-user-role="@role"></div>
                
                @foreach (var actividad in Model.Actividades)
                {
                    if (actividad.Estado == 1)
                    {
                        <div class="actividad" data-id="@actividad.Id" onclick="showActividadDetails(@actividad.Id)">
                            <div class="actividad-header">
                                <span class="actividad-title">
                                    @actividad.Titulo <span class="actividad-title-depto">
                                        @actividad.Departamento
                                    </span>
                                </span>
                                <span class="actividad-fecha">@actividad.FechaCreacion.ToString("dd/MM/yyyy")</span>
                            </div>
                            <p class="actividad-description">
                                @Html.Raw(actividad.Descripcion)
                            </p>
                        </div>
                    }
                }
            </div>
    </main>

    <aside class="aside" id="aside">

        <svg class="aside-close" id="aside-close" xmlns="http://www.w3.org/2000/svg" height="24px"
             viewBox="0 -960 960 960">
            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
        </svg>
        <form class="filtros-form">

            <label class="filtros-form-label" for="departamento">Departamento</label>

            <select class="filtros-form-input" name="departamento" id="departamento">
                @foreach (var item in Model.Departamentos)
                {
                    if (Model.Actividades.FirstOrDefault()?.Departamento == item.Nombre)
                    {
                        <option value="@item.Nombre" selected>@item.Nombre</option>
                    }
                    else
                    {
                        <option value="@item.Nombre">@item.Nombre</option>
                    }
                }
            </select>

            <label class="filtros-form-label" for="fechaInicio">Rango de fechas</label>

            <div class="filtros-form-input-dates">
                <input class="filtros-form-input" type="date" name="fechaInicio" id="fechaInicio">
                <input class="filtros-form-input" type="date" name="fechaFin" id="fechaFin">
            </div>

            <input type="submit" class="filtros-form-submit" href="javascript:" value="Filtrar">

        </form>

    </aside>

    <div class="actividad-details">
        <svg onclick="closeActividadDetails()" class="details-close" id="details-close" xmlns="http://www.w3.org/2000/svg" height="24px"
             viewBox="0 -960 960 960">
            <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
        </svg>
        <p class="details-title">
            Cargando...<br>
            <a class="details-dpto" href="javascript:">
            </a>
            <span class="details-date details-date-create"></span>
            <span class="details-date">
            </span>
            <span class="details-date"></span>
        </p>
        <div class="details-body">
            <img src="https://sga.api.labsystec.net/images/0.png" asp-append-version alt="evento" class="details-img">
            <p class="details-body-description"></p>
        </div>

        <div class="details-btns">
            <a href="javascript:" class="details-delete">Eliminar</a>
            <a href="javascript:" class="details-modify">Modificar</a>
        </div>

    </div>

    <footer class="footer">
        <p>Lorem Ipsum Industries &copy; 2024</p>
    </footer>

    <script>
        async function showActividadDetails(id) {
            let actividadDetails = document.querySelector('.actividad-details');

            actividadDetails.style.animationName = "open-details";

            let url = `https://sga.api.labsystec.net/api/actividad/${id}`;

            let request = await fetch(url, {
                method: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + "@Model.Token",
                    'Content-Type': 'application/json'
                }
            });

            let response = await request.json();

            console.log(response);

            let roleDiv = document.getElementById('role');
            let userrole = roleDiv.getAttribute('data-user-role');
            let userIdDepartamentoDiv = document.getElementById('userIdDepartamento');

            // Obtener el valor del atributo data-user-id
            let userIdDepartamento = userIdDepartamentoDiv.getAttribute('data-user-id');
            let descripcion = response.descripcion;
            let departamento = response.departamento;
            let estado = response.estado;
            let fechaActualizacion = response.fechaActualizacion;
            let fechaCreacion = response.fechaCreacion;
            let fechaRealizacion = response.fechaRealizacion;
            let titulo = response.titulo;
            let departamentoId = response.idDepartamento;

            let fechaCreacionDate = new Date(fechaCreacion);
            let fechaActualizacionDate = new Date(fechaActualizacion);
            let fechaRealizacionDate = new Date(fechaRealizacion);

            fechaCreacion = fechaCreacionDate.toLocaleDateString();
            fechaActualizacion = fechaActualizacionDate.toLocaleDateString();
            fechaRealizacion = fechaRealizacionDate.toLocaleDateString();

            let detailsTitle = document.querySelector('.details-title');

            let template = `
                                        ${titulo} <br>
                                                <a class="details-dpto" href="javascript:">
                                                    ${departamento}
                                                </a> <br>
                                                <span class="details-date details-date-create">Creado el ${fechaCreacion}</span>
                                                <span class="details-date">
                                                    &middot; Ultima
                                                    actualizacion el ${fechaActualizacion}
                                                </span>
                                                <span class="details-date"> &middot; Realizado el ${fechaRealizacion}</span>
                                        `;
            let image = document.querySelector('.details-img');

            image.src = `https://sga.api.labsystec.net/images/${id}.png`;

            image.onerror = function () {
                image.src = `https://sga.api.labsystec.net/images/0.png`;
            }

            let btnModificar = document.querySelector('.details-modify');
            let btnEliminar = document.querySelector('.details-delete');

            btnModificar.href = `/${userrole}/home/editar/${id}`;
            btnEliminar.href = `/${userrole}/home/eliminar/${id}`;

            if (departamentoId != userIdDepartamento) {
                btnModificar.style.display = "none";
                btnEliminar.style.display = "none";
            } else {
                btnModificar.style.display = "block";
                btnEliminar.style.display = "block";
                btnModificar.href = `/${userrole}/home/editar/${id}`;
                btnEliminar.href = `/${userrole}/home/eliminar/${id}`;
            }

            document.querySelector('.details-body-description').innerHTML = descripcion;

            detailsTitle.innerHTML = template;
        }

        function closeActividadDetails() {
            let actividadDetails = document.querySelector('.actividad-details');
            actividadDetails.style.animationName = "close-details";
        }

        function showFilters() {
            let frmFiltrosForm = document.querySelector("#aside");
            let btnCloseFiltrosForm = document.querySelector('#aside-close');
            frmFiltrosForm.style.animationName = "open-aside";

            btnCloseFiltrosForm.addEventListener('click', (e) => {
                frmFiltrosForm.style.animationName = "close-aside";
            });
        }

        function GoTopPage() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    </script>
</body>

</html>